body {
	/* font-family: gothic; */
	font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;;
	font-size: 1.9vh;
	overflow: hidden;

	@include box-sizing(border-box);
	@include user-select(none);

}

.menu-item {
	position: absolute !important;
	z-index: 206;
	@include user-select( none );
	opacity: 0.1;
	background-color: rgba( 0,0,0,0 );
	text-decoration: none;

	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

	&:hover {
		cursor: pointer;
		opacity: 1 !important;
	}
	

}

/* svg  {
	alignment-baseline: baseline;
} */

.hover-black {
	
}

.hide {
	display: none;
}

img { -ms-interpolation-mode: bicubic; }