body {
	font-family: gothic;
	font-size: 1.9vh;
	overflow: hidden;

	@include box-sizing(border-box);
	@include user-select(none);

}

.menu-item {
	position: absolute !important;
	z-index: 100;
	@include user-select( none );
	background-color: rgba( 0,0,0,0 );
	text-decoration: none;

	&:hover {
		cursor: pointer;
	}

}

svg  {
	alignment-baseline: baseline;
}

.hover-black {
	
}

.hide {
	display: none;
}

img { -ms-interpolation-mode: bicubic; }