.home-button {
	position: absolute;
	width: 128px;
	top: 0px;
	z-index: 255;
	padding: 10px;

	opacity: 0;

	@include user-select(none);

	&:hover {
		opacity: 1;
		cursor: pointer;
	}
	img {
		color: black;
		width: 128px;
	}
}

.menu-name, .menu-sopran {
	position: absolute;
	z-index: 205;
	width: 256px;
	height: 64px;

	@include user-select(none);

	img {
		color: black;
		width: 256px;
	}

	/* font-style: italic; */
}




// agenda  --------------------------------------------------------------



.agenda {
	@include user-select(none);
	display: inline-block;
}

.event-image {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 20;

	backface-visibility: hidden;
	transition: transform 1.2s ease-in-out;


	img {
		width: 100%;
		backface-visibility: hidden;

		&:hover {
			cursor: pointer;

		}
		@include user-select(none);

	}
	&.scroll-out {
		opacity: 0;
	}
}

.event {
	position: relative;
	height: 90%;
	width: 260px;

	float: left;
	padding-left: 15px;
	padding-right: 15px;

	font-size: 100% !important;

	border: solid 2px  rgba(0,0,0,0);
	margin-right: 28px;

	background-color: #fff;

	@include user-select(none);

	perspective: 2000px;

	overflow: hidden;




	@media screen and ( max-height: 700px ) {
		width: 208px;
		font-size: 91% !important;
	}


	



	.komponist {
		font-size: 80%;
		text-align: center;
	}

	.title {
		font-size: 95%;
		text-align: center;
		font-weight: bold;
		padding-bottom: 2px;
		border-bottom: solid black 2px;
	}

	.ort {
		font-size: 80%;
		opacity: .6;
		text-align: center;
		padding-top: 2px;
	}

	.datum {
		font-weight: bold;
		font-size: 95%;
		text-align: center;
		@include vertical-align();
	
	}

	.besetzung {
		position: relative;
		font-size: 71%;
		margin-left: 5px;
		margin-right: 5px;
		opacity: 0.6;

		.zeile {
			padding-top: 4px;
			padding-bottom: 2px;
		}

		.rolle {
			left: 0;
		}
		
		.darsteller {
			float: right;
		}

		.one-line {
			text-align: center;
			margin: auto;
		}
	}
}


.event-up {
		display: block;
		height: 14%;
		width: 100%;
}

.event-date {
		display: block;
		height: 15%;
		width: 100%;
}

.card {
		position: relative;
		display: block;
		height: 50%;
		width: 100%;
		transform-origin: right center;
}

.flippable {
	transform-style: preserve-3d;
	cursor: pointer;
}



.event-low.flipped {
	transform: rotateY(-180deg) translateX(-100%);
}

.event-image.flipped {
	transform: rotateY(180deg) translateX(-100%);

}

.event-low {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transition: transform 1.2s ease-in-out;

}


// vita ------------------------------------------------------------------------------



.vita-image {
	position: relative;
	display: block;
	overflow: hidden;
	height: 32%;
	width: 100%;
	top: 0;
	margin-bottom: 12%;

	z-index: 250;
	background-color: #fff;

	img { height: 100%; width: auto;}


}

.vita-text-wrapper {
	font-size: 110%;
	position: absolute;
	left: 0; 
	right: 5%;
	top: 45%;
	bottom: 0;
	
	text-align: justify;

	p {
		margin-top: 5px;
		margin-bottom: 25px;
	}
	
	overflow: hidden;

	font-size: 100%;
}

a {
	text-decoration: none;
	color: white;
}

.vita-text {
	position: relative;
	i {
		font-style: italic;
		white-space: nowrap;
	}

	b {
		font-weight: bold;
		white-space: nowrap;

	}
}

.button-wrapper {
	
	font-size: 65%;
	font-variant: small-caps;
	a {
		font-family: Raleway;
		color: #000;
		opacity: 0.6;

		&:hover {
			opacity: 1;
		}
	}
}



// audio -----------------------------------------------------------------------

.audio-track {
	
	@include user-select(none);

	margin-bottom: 35px;
	width: 100%;
	

	&:hover {
		cursor: pointer;
	}
	
	z-index: 255;
}

.selected {

	.audio-komponist {
		border-bottom: solid 1px black;
	}
}

.audio-komponist {
	border-bottom: solid 1px rgba(0,0,0,0);
	width: 85.6%;
}

.audio-titel {
	opacity: 0.8;
}

.time-box {
	position: absolute;
	right: 10%;
	font-weight: bold;
}



.play-button {
	position: absolute;
	left: -64px;
	z-index: 255;
	opacity: 0;
	width:64px;

	img {
		width: 64px;
		color: black;
	}

	&:hover {
		cursor: pointer;
	}
} // play-button

.nav-audio {
	cursor: ew-resize !important;
}

.audio-info-box {
	position: absolute;
	right: 14.3%;
	width: 300px;
	height: auto;


	font-size: 90%;

	opacity: 0.8;

	display: inline-block;
	overflow: hidden;

	
	padding: 4px;
	

	

	/* border: solid black 2px; */
	.ort {
		width: 80%;
		display: inline-block;
		opacity: 60%;
	}
	span { display: inline-block; }
	.jahr {
		float: right;
		display: inline-block;
		opacity: 60%;
	}

	.beschreibung {
		margin-top: 5%;
		margin-bottom: 30px;
		opacity: 60%;
	}
	.besetzung {
		display: block;
		opacity: 60%;
	}
} // audio-info-box

.disclaimer {
	margin-top: 5%;
	width: 80%;
	opacity: 60%;
}


// Gallery -------------------------------------------------------------------

.gallery {
	width: 500%;
	height: 340px;
	img {
		@include user-select(none);
		z-index: -255;
	}


}

.overlay {
		position: fixed;
		top: 3%;
		left: 3%;
		bottom: 3%;
		right: 3%;
		background-color: rgba( 0, 0, 0, 0.85);
		/* border-radius: 20px; */

		z-index: 255 !important;

	
			


		.presentation {
			
			width: 60%;
			height: 80%;
			@include centerer;
			

			.image-comment {
				color: white;
				position: fixed;
				bottom: -60px;
				width: 160%;
				left: -30%;
				text-align: center;
			}

			.portrait {
				position: fixed;
				width: auto;
				height: 100%;
				@include centerer;
			}

			.landscape {
				position: fixed;
				height: auto;
				width: 100%;
				@include vertical-align();
			}
			
			

    		z-index: 200;
		}

		.presented-image {
			width: 100%;
		}

		.close-icon {
			position: fixed;
			top: 10%;
			right: 10%;
			fill: white;
			background-color: rgba(0,0,0,0);
			
			height: 9%;

			img {
				fill: white;
				height: 9%;
			}

			&:hover {
				cursor: pointer;
			}

			img {
				fill: white;
				position: relative;
			}

			border-radius: 100%;
		}

		.arrow-left {
			position: absolute;
			left: 5%;
			top: 40%;
			height: 15%;
			fill: white;

			img {
				height: 15%;
				fill: white;
			}
			background-color: rgba(0,0,0,0);

			&:hover {
				cursor: pointer;
			}

			border-radius: 100%;
		}

		.arrow-right {
			position: absolute;
			right: 5%;
			top: 40%;
			height: 15%;
			fill: white;

			img {
				height: 15%;
				fill: white;
			}

			background-color: rgba(0,0,0,0);

			&:hover {
				cursor: pointer;
			}

			border-radius: 100%;
		}

		.download-icon {
			position: fixed;
			bottom: 10%;
			left: 10%;
			background-color: #fff;
			height: 5%;
			width: 5vh;

			img {
				height: 5%;
			}

			&:hover {
				cursor: pointer;
			}
		}
}


// kontakt ------------------------------------------------------------------------------

.kontakt-wrapper {
	position: absolute;
	top: 0;
	left: 30%;
	right: 10%;
	bottom: 0;

	padding: 5px;

	overflow: hidden;

	.kontakt-image {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		
		img { height: 100%; }
	}

	.kontakt-schablone {
		position: absolute;
		width: 150%;
		z-index: 255;
		top: 0;
		left: 0;
		height: 70px;
		background-color: #fff;
	}

	.kontakt-text {
		padding: 1%;
		position:absolute;
		top: 75%;
		color: white;
		left: 0;
		right: 0;
		font-size: 100%;

		>div {
			position: relative;
			display: inline-block;
			width: 40%;
			height: 100%;
			overflow: hidden;
			float: left;
			padding: 5%;
		}

	}

	


	.impressum-link {
		
		&:hover {
			cursor: pointer;
			color: black;
		}

		margin-top: 25px;
	}


}


.impressum-overlay {
	position: absolute;
	z-index: 255;
	top: 2%;
	left: 2%;
	bottom: 2%;
	right: 2%;

	background-color: rgba( 0, 0, 0, 0.95);

	.close-icon {
		position: absolute;
		width: 48px;
		right: 25px;
		top: 25px;

		img {
			width: 48px;
		}

		&:hover {
			cursor:pointer;
		}

		z-index: 250;
	}

}

.impressum {
		position: absolute;
		color: white;

		margin-left: 5%;
		margin-right: 5%;


		font-size: 92%;

		@media screen and ( max-height: 750px ) {
			font-size: 85%;
		}
		@media screen and ( max-height: 700px ) {
			font-size: 75%;
		}


		z-index: 255;

		h1 {
			left: 25%;
			width: 50%;
			margin: auto;
			text-align: center;
			font-size: 120%;
			border-bottom: solid 2px;
				margin-top: 2%;
		margin-bottom: 25px;
		}

		h2 {
			font-size: 110%;
			margin-top: 10px;
			margin-bottom: 3px;
		}
	}




