.home-button {
	position: absolute;
	width: 128px;
	top: 0px;
	z-index: 255;
	padding: 10px;

	opacity: 0.2;

	&:hover {
		opacity: 1;
		cursor: pointer;
	}
	img {
		color: black;
		width: 128px;
	}
}

.menu-name, .menu-sopran {
	position: absolute;
	z-index: 205;
	width: 256px;
	img {
		color: black;
		width: 256px;
	}

	font-style: italic;
}

.menu-item {
	&:hover {
		cursor: pointer;
	}
}




// agenda  --------------------------------------------------------------



.agenda {
	@include user-select(none);
	width: 150%;
}

.event {
	height: 100%;
	width: 230px;
	float: left;
	padding-right: 44px;

	font-size: 120%;

	border: solid 2px  rgba(0,0,0,0);
	margin-right: 44px;

	background-color: #fff;

	@include user-select(none);



	.komponist {
		font-size: 80%;
		text-align: center;
	}

	.title {
		font-size: 95%;
		text-align: center;
		font-weight: bold;
		border-bottom: solid black 2px;
	}

	.ort {
		font-size: 80%;
		opacity: .8;
		text-align: center;
		padding-top: 2px;
	}

	.datum {
		font-weight: bold;
		font-size: 95%;
		text-align: center;
		padding-top: 22%;
	
	}

	.besetzung {
		
		font-size: 80%;
		padding-top: 22%;
		margin-left: 25px;

		.zeile {
			padding-top: 2px;
		}
		
		.darsteller {
			float: right;
			margin-right: 25px;
		}
	}
}


// vita ------------------------------------------------------------------------------



.vita-image {
	position: relative;
	display: block;
	height: 27%;
	width: 100%;
	top: 0;
	margin-bottom: 10%;

	

	img { height: 100%;}


}

.vita-text {

	position: relative;
	height: 45%;
	
	
	text-align: justify;

	p {
		margin: 15px;
	}
	
	overflow: auto;
}


// audio -----------------------------------------------------------------------

.audio-track {
	
	@include user-select(none);

	margin-bottom: 35px;
	width: 100%;
	

	&:hover {
		cursor: pointer;
	}
	z-index: 255;
}

.selected {

	.audio-komponist {
		border-bottom: solid 1px black;
	}
}

.audio-komponist {
	border-bottom: solid 1px rgba(0,0,0,0);
	width: 100%;
}

.time-box {
	position: absolute;
	right: 5px;
}



.play-button {
	position: absolute;
	left: -64px;
	z-index: 255;
	opacity: 0;
	width:64px;

	img {
		width: 64px;
		color: black;
	}

	&:hover {
		cursor: pointer;
	}
} // play-button

.nav-audio {
	cursor: ew-resize;
}

.audio-info-box {
	position: absolute;
	right: 5px;
	width: 200px;
	height: 150px;
	padding: 6px;

	/* border: solid black 2px; */

	span { display: inline-block; }

	.jahr {
		float: right;
	}

	.besetzung {
		padding-top: 30px;
	}
} // audio-info-box


// Gallery -------------------------------------------------------------------

.gallery {
	width: 500%;
	height: 340px;
	img {
		@include user-select(none);
		z-index: -255;
	}


}

.overlay {
		position: fixed;
		top: 5%;
		left: 5%;
		bottom: 5%;
		right: 5%;
		background-color: rgba( 0, 0, 0, 0.6);
		border-radius: 20px;

		z-index: 255;


		.presentation {
			width: 50%;
			display: block;
    		margin-left: auto;
    		margin-right: auto;
    		margin-top: 15%;

    		border: solid 10px white;
    		@include border-radius( 10px );

    		z-index: 200;
		}

		.close-icon {
			position: fixed;
			top: 5%;
			right: 5%;
			width: 64px;
			background-color: black;

			&:hover {
				background-color: #333;
			}

			img {
				width: 64px;
				fill: white;
			}
		}
}


// kontakt ------------------------------------------------------------------------------

.kontakt-wrapper {
	position: absolute;
	left: 30%;
	right: 4%;
	/* top: -40%; */

	padding: 5px;

	.kontakt-image {
		top: -300px;
		left: 0;
		right: 0;
		img { width: 110%; }
	}

	.kontakt-schablone {
		position: absolute;
		width: 150%;
		z-index: 255;
		top: 0;
		left: 0;
		height: 70px;
		background-color: #fff;
	}


}




