/* @import "susy"; */
@import url(https://fonts.googleapis.com/css?family=Raleway:800);
/* line 5, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
/* line 103, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 3, ../components/sass/_base.scss */
body {
  /* font-family: gothic; */
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
  font-size: 1rem;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

/* line 14, ../components/sass/_base.scss */
.menu-item {
  position: absolute !important;
  z-index: 206;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0.1;
  background-color: transparent;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: extra-bold; }
/* line 25, ../components/sass/_base.scss */
.menu-item:hover {
  cursor: pointer;
  opacity: 1 !important; }

/* line 33, ../components/sass/_base.scss */
svg {
  alignment-baseline: baseline; }

/* line 41, ../components/sass/_base.scss */
.hide {
  display: none; }

/* line 45, ../components/sass/_base.scss */
img {
  -ms-interpolation-mode: bicubic; }

/* line 1, ../components/sass/_layout.scss */
.page-wrapper {
  max-width: 1600px;
  width: 100vw;
  height: 100vh; }

/* line 7, ../components/sass/_layout.scss */
.navigation {
  position: absolute;
  display: inline-block;
  left: 0%;
  right: 76%;
  height: 100vh;
  /* z-index: 50; */
  background-color: #fff; }

/* line 17, ../components/sass/_layout.scss */
.fadeOutArea {
  position: absolute;
  display: inline-block;
  left: 24%;
  width: 7%;
  max-width: 460px;
  height: 100vh;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FF00FFFF');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%); }

/* line 32, ../components/sass/_layout.scss */
.content {
  position: relative;
  display: inline-block;
  /* max-width: 1600px; */
  width: 100vw;
  max-width: 1700px;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -255;
  overflow: hidden; }

/* line 47, ../components/sass/_layout.scss */
.agenda {
  position: absolute;
  left: 30%;
  top: 19%;
  height: 52%;
  min-height: 540px;
  overflow: hidden;
  z-index: -255; }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 47, ../components/sass/_layout.scss */
  .agenda {
    left: 2%; } }

/* line 65, ../components/sass/_layout.scss */
.scroll-div-wrapper {
  position: absolute;
  bottom: 8%;
  height: 5%;
  left: 29%;
  right: 0; }

/* line 74, ../components/sass/_layout.scss */
.scroll-div {
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 16px;
  background-color: #fff;
  left: 24px;
  right: 24px;
  border-radius: 20px; }

/* line 86, ../components/sass/_layout.scss */
.kloetzchen {
  top: 2px;
  height: 12px;
  width: 64px;
  background-color: #000;
  position: relative;
  left: 0; }
/* line 94, ../components/sass/_layout.scss */
.kloetzchen:hover {
  cursor: pointer; }

/* line 101, ../components/sass/_layout.scss */
.strich {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* line 111, ../components/sass/_layout.scss */
.home-circle {
  position: fixed;
  width: 90vh;
  height: 90vh;
  border-radius: 80vh;
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden; }
/* line 124, ../components/sass/_layout.scss */
.home-circle img {
  width: 110%;
  height: auto;
  opacity: 0.3;
  display: none; }

/* line 138, ../components/sass/_layout.scss */
.vita-wrapper {
  position: relative;
  left: 30%;
  width: 60%;
  height: 100%;
  padding: 5px; }

/* line 148, ../components/sass/_layout.scss */
.vita-scroll-div {
  position: absolute;
  height: 53%;
  width: 16px;
  right: 0;
  bottom: 2%;
  background-color: #fff; }

/* line 159, ../components/sass/_layout.scss */
.vita-kloetzchen {
  top: 0;
  height: 64px;
  width: 12px;
  background-color: #000;
  position: relative;
  left: 2px; }
/* line 167, ../components/sass/_layout.scss */
.vita-kloetzchen:hover {
  cursor: pointer; }

/* line 174, ../components/sass/_layout.scss */
.vita-strich {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* line 184, ../components/sass/_layout.scss */
.audio-image {
  position: absolute;
  left: 30%;
  right: 10%;
  top: 0;
  height: 44%;
  overflow: hidden; }
/* line 192, ../components/sass/_layout.scss */
.audio-image img {
  height: 100%; }

/* line 196, ../components/sass/_layout.scss */
.audio {
  position: absolute;
  left: 30%;
  right: 0;
  top: 56%;
  bottom: 0;
  z-index: 255; }

/* line 209, ../components/sass/_layout.scss */
.image-wrapper {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  top: 4%;
  left: 30%;
  width: 500%;
  height: 90%; }

/* line 219, ../components/sass/_layout.scss */
.scene-images-container {
  position: relative;
  height: 55%;
  width: 900px;
  overflow: hidden; }
/* line 227, ../components/sass/_layout.scss */
.scene-images-container > div {
  display: inline-block;
  width: 22vh;
  height: 22vh;
  margin: 1.7vh;
  overflow: hidden; }
/* line 236, ../components/sass/_layout.scss */
.scene-images-container > div > img:hover {
  opacity: 0.7;
  cursor: pointer; }

/* line 246, ../components/sass/_layout.scss */
.portrait-images-container {
  position: relative;
  margin-top: 9vh;
  height: 25%;
  width: 100%;
  overflow: hidden; }
/* line 259, ../components/sass/_layout.scss */
.portrait-images-container > div {
  display: inline-block;
  width: 22vh;
  height: 22vh;
  margin: 1.7vh;
  overflow: hidden; }
/* line 268, ../components/sass/_layout.scss */
.portrait-images-container > div > img:hover {
  opacity: 0.7;
  cursor: pointer; }

/* line 279, ../components/sass/_layout.scss */
.portrait {
  width: 100%;
  height: auto; }

/* line 284, ../components/sass/_layout.scss */
.landscape {
  height: 100%;
  width: auto; }

/* line 289, ../components/sass/_layout.scss */
.sehen-scroll-div-wrapper {
  position: absolute;
  top: 91%;
  height: 5%;
  left: 30%;
  right: 0; }

/* line 297, ../components/sass/_layout.scss */
.sehen-scroll-div {
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 16px;
  background-color: #fff;
  left: 24px;
  right: 24px;
  border-radius: 20px; }

/* line 307, ../components/sass/_layout.scss */
.sehen-scroll-left {
  position: absolute;
  height: 32px;
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 314, ../components/sass/_layout.scss */
.sehen-scroll-right {
  position: absolute;
  height: 32px;
  right: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 321, ../components/sass/_layout.scss */
.sehen-kloetzchen {
  top: 2px;
  height: 12px;
  width: 64px;
  background-color: #000;
  position: relative;
  left: 0; }
/* line 329, ../components/sass/_layout.scss */
.sehen-kloetzchen:hover {
  cursor: pointer; }

/* line 1, ../components/sass/_modules.scss */
.home-button {
  position: absolute;
  width: 128px;
  top: 0px;
  z-index: 255;
  padding: 10px;
  opacity: 0;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }
/* line 12, ../components/sass/_modules.scss */
.home-button:hover {
  opacity: 1;
  cursor: pointer; }
/* line 16, ../components/sass/_modules.scss */
.home-button img {
  color: black;
  width: 128px; }

/* line 22, ../components/sass/_modules.scss */
.menu-name, .menu-sopran {
  position: absolute;
  z-index: 205;
  width: 256px;
  height: 64px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* font-style: italic; */ }
/* line 30, ../components/sass/_modules.scss */
.menu-name img, .menu-sopran img {
  color: black;
  width: 256px; }

/* line 45, ../components/sass/_modules.scss */
.agenda {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 150%; }

/* line 50, ../components/sass/_modules.scss */
.event-image {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 20px;
  right: 20px;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }
/* line 60, ../components/sass/_modules.scss */
.event-image img {
  width: 100%;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }
/* line 63, ../components/sass/_modules.scss */
.event-image img:hover {
  cursor: pointer; }
/* line 70, ../components/sass/_modules.scss */
.event-image.scroll-out {
  opacity: 0; }

/* line 75, ../components/sass/_modules.scss */
.event {
  position: relative;
  height: 100%;
  width: 260px;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  border: solid 2px transparent;
  margin-right: 28px;
  background-color: #fff;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }
/* line 97, ../components/sass/_modules.scss */
.event .komponist {
  font-size: 80%;
  text-align: center; }
/* line 102, ../components/sass/_modules.scss */
.event .title {
  font-size: 95%;
  text-align: center;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: solid black 2px; }
/* line 110, ../components/sass/_modules.scss */
.event .ort {
  font-size: 80%;
  opacity: .6;
  text-align: center;
  padding-top: 2px; }
/* line 117, ../components/sass/_modules.scss */
.event .datum {
  font-weight: bold;
  font-size: 95%;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
/* line 125, ../components/sass/_modules.scss */
.event .besetzung {
  font-size: 71%;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0.6; }
/* line 132, ../components/sass/_modules.scss */
.event .besetzung .zeile {
  padding-top: 4px;
  padding-bottom: 2px; }
/* line 137, ../components/sass/_modules.scss */
.event .besetzung .rolle {
  left: 0; }
/* line 141, ../components/sass/_modules.scss */
.event .besetzung .darsteller {
  float: right; }
/* line 145, ../components/sass/_modules.scss */
.event .besetzung .one-line {
  text-align: center;
  margin: auto; }

/* line 153, ../components/sass/_modules.scss */
.event-up {
  display: block;
  height: 14%;
  width: 100%; }

/* line 159, ../components/sass/_modules.scss */
.event-date {
  display: block;
  height: 15%;
  width: 100%; }

/* line 165, ../components/sass/_modules.scss */
.event-low {
  display: block;
  height: 50%;
  width: 100%; }

/* line 175, ../components/sass/_modules.scss */
.vita-image {
  position: relative;
  display: block;
  overflow: hidden;
  height: 35%;
  width: 100%;
  top: 0;
  margin-bottom: 10%;
  z-index: 250;
  background-color: #fff; }
/* line 187, ../components/sass/_modules.scss */
.vita-image img {
  height: 100%;
  width: auto; }

/* line 192, ../components/sass/_modules.scss */
.vita-text-wrapper {
  font-size: 110%;
  position: relative;
  width: 95%;
  top: 1%;
  text-align: justify;
  overflow: hidden;
  font-size: 100%; }
/* line 200, ../components/sass/_modules.scss */
.vita-text-wrapper p {
  margin-top: 5px;
  margin-bottom: 25px; }

/* line 210, ../components/sass/_modules.scss */
a {
  text-decoration: none;
  color: white; }

/* line 215, ../components/sass/_modules.scss */
.vita-text {
  position: relative; }

/* line 222, ../components/sass/_modules.scss */
.audio-track {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: 35px;
  width: 100%;
  z-index: 255; }
/* line 230, ../components/sass/_modules.scss */
.audio-track:hover {
  cursor: pointer; }

/* line 239, ../components/sass/_modules.scss */
.selected .audio-komponist {
  border-bottom: solid 1px black; }

/* line 244, ../components/sass/_modules.scss */
.audio-komponist {
  border-bottom: solid 1px transparent;
  width: 85.6%; }

/* line 249, ../components/sass/_modules.scss */
.audio-titel {
  opacity: 0.8; }

/* line 253, ../components/sass/_modules.scss */
.time-box {
  position: absolute;
  right: 10%;
  font-weight: bold; }

/* line 261, ../components/sass/_modules.scss */
.play-button {
  position: absolute;
  left: -64px;
  z-index: 255;
  opacity: 0;
  width: 64px; }
/* line 268, ../components/sass/_modules.scss */
.play-button img {
  width: 64px;
  color: black; }
/* line 273, ../components/sass/_modules.scss */
.play-button:hover {
  cursor: pointer; }

/* line 278, ../components/sass/_modules.scss */
.nav-audio {
  cursor: ew-resize !important; }

/* line 282, ../components/sass/_modules.scss */
.audio-info-box {
  position: absolute;
  right: 14.3%;
  width: 300px;
  height: auto;
  font-size: 90%;
  opacity: 0.8;
  display: inline-block;
  overflow: hidden;
  padding: 4px;
  /* border: solid black 2px; */ }
/* line 303, ../components/sass/_modules.scss */
.audio-info-box .ort {
  width: 80%;
  display: inline-block;
  opacity: 60%; }
/* line 308, ../components/sass/_modules.scss */
.audio-info-box span {
  display: inline-block; }
/* line 309, ../components/sass/_modules.scss */
.audio-info-box .jahr {
  float: right;
  display: inline-block;
  opacity: 60%; }
/* line 315, ../components/sass/_modules.scss */
.audio-info-box .beschreibung {
  margin-top: 5%;
  margin-bottom: 30px;
  opacity: 60%; }
/* line 320, ../components/sass/_modules.scss */
.audio-info-box .besetzung {
  display: block;
  opacity: 60%; }

/* line 326, ../components/sass/_modules.scss */
.disclaimer {
  margin-top: 5%;
  width: 80%;
  opacity: 60%; }

/* line 335, ../components/sass/_modules.scss */
.gallery {
  width: 500%;
  height: 340px; }
/* line 338, ../components/sass/_modules.scss */
.gallery img {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: -255; }

/* line 346, ../components/sass/_modules.scss */
.overlay {
  position: fixed;
  top: 3%;
  left: 3%;
  bottom: 3%;
  right: 3%;
  background-color: rgba(0, 0, 0, 0.85);
  /* border-radius: 20px; */
  z-index: 255 !important; }
/* line 361, ../components/sass/_modules.scss */
.overlay .presentation {
  width: 60%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200; }
/* line 368, ../components/sass/_modules.scss */
.overlay .presentation .image-comment {
  color: white;
  position: fixed;
  bottom: -60px;
  width: 160%;
  left: -30%;
  text-align: center; }
/* line 377, ../components/sass/_modules.scss */
.overlay .presentation .portrait {
  position: fixed;
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
/* line 384, ../components/sass/_modules.scss */
.overlay .presentation .landscape {
  position: fixed;
  height: auto;
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
/* line 396, ../components/sass/_modules.scss */
.overlay .presented-image {
  width: 100%; }
/* line 400, ../components/sass/_modules.scss */
.overlay .close-icon {
  position: fixed;
  top: 10%;
  right: 10%;
  fill: white;
  background-color: transparent;
  height: 9%;
  border-radius: 100%; }
/* line 409, ../components/sass/_modules.scss */
.overlay .close-icon img {
  fill: white;
  height: 9%; }
/* line 414, ../components/sass/_modules.scss */
.overlay .close-icon:hover {
  cursor: pointer; }
/* line 418, ../components/sass/_modules.scss */
.overlay .close-icon img {
  fill: white;
  position: relative; }
/* line 426, ../components/sass/_modules.scss */
.overlay .arrow-left {
  position: absolute;
  left: 5%;
  top: 40%;
  height: 15%;
  fill: white;
  background-color: transparent;
  border-radius: 100%; }
/* line 433, ../components/sass/_modules.scss */
.overlay .arrow-left img {
  height: 15%;
  fill: white; }
/* line 439, ../components/sass/_modules.scss */
.overlay .arrow-left:hover {
  cursor: pointer; }
/* line 446, ../components/sass/_modules.scss */
.overlay .arrow-right {
  position: absolute;
  right: 5%;
  top: 40%;
  height: 15%;
  fill: white;
  background-color: transparent;
  border-radius: 100%; }
/* line 453, ../components/sass/_modules.scss */
.overlay .arrow-right img {
  height: 15%;
  fill: white; }
/* line 460, ../components/sass/_modules.scss */
.overlay .arrow-right:hover {
  cursor: pointer; }
/* line 467, ../components/sass/_modules.scss */
.overlay .download-icon {
  position: fixed;
  bottom: 10%;
  left: 10%;
  background-color: #fff;
  height: 5%;
  width: 5vh; }
/* line 475, ../components/sass/_modules.scss */
.overlay .download-icon img {
  height: 5%; }
/* line 479, ../components/sass/_modules.scss */
.overlay .download-icon:hover {
  cursor: pointer; }

/* line 488, ../components/sass/_modules.scss */
.kontakt-wrapper {
  position: absolute;
  top: 0;
  left: 30%;
  right: 10%;
  bottom: 0;
  padding: 5px;
  overflow: hidden; }
/* line 499, ../components/sass/_modules.scss */
.kontakt-wrapper .kontakt-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }
/* line 505, ../components/sass/_modules.scss */
.kontakt-wrapper .kontakt-image img {
  height: 100%; }
/* line 508, ../components/sass/_modules.scss */
.kontakt-wrapper .kontakt-schablone {
  position: absolute;
  width: 150%;
  z-index: 255;
  top: 0;
  left: 0;
  height: 70px;
  background-color: #fff; }
/* line 518, ../components/sass/_modules.scss */
.kontakt-wrapper .kontakt-text {
  padding: 1%;
  position: absolute;
  top: 75%;
  color: white;
  left: 0;
  right: 0;
  font-size: 100%; }
/* line 527, ../components/sass/_modules.scss */
.kontakt-wrapper .kontakt-text > div {
  position: relative;
  display: inline-block;
  width: 40%;
  height: 100%;
  overflow: hidden;
  float: left;
  padding: 5%; }
/* line 542, ../components/sass/_modules.scss */
.kontakt-wrapper .impressum-link {
  margin-top: 25px; }
/* line 544, ../components/sass/_modules.scss */
.kontakt-wrapper .impressum-link:hover {
  cursor: pointer;
  color: black; }

/* line 556, ../components/sass/_modules.scss */
.impressum-overlay {
  position: absolute;
  z-index: 255;
  top: 2%;
  left: 2%;
  bottom: 2%;
  right: 2%;
  background-color: rgba(0, 0, 0, 0.95); }
/* line 566, ../components/sass/_modules.scss */
.impressum-overlay .close-icon {
  position: absolute;
  width: 48px;
  right: 25px;
  top: 25px;
  z-index: 250; }
/* line 572, ../components/sass/_modules.scss */
.impressum-overlay .close-icon img {
  width: 48px; }
/* line 576, ../components/sass/_modules.scss */
.impressum-overlay .close-icon:hover {
  cursor: pointer; }

/* line 585, ../components/sass/_modules.scss */
.impressum {
  position: absolute;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 92%;
  z-index: 255; }
/* line 598, ../components/sass/_modules.scss */
.impressum h1 {
  left: 25%;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 120%;
  border-bottom: solid 2px;
  margin-top: 2%;
  margin-bottom: 25px; }
/* line 609, ../components/sass/_modules.scss */
.impressum h2 {
  font-size: 110%;
  margin-top: 10px;
  margin-bottom: 3px; }
